@model HomePageViewModel
@using Defra.PTS.Web.Domain.ViewModels;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.UI.Extensions;

@{
    var pageTitle = "Taking your dog, cat or ferret from Great Britain to Northern Ireland";
    this.SetMetaTitle(pageTitle);
}

@if (Model.MagicWordEnabled)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Private beta testing login
            </h1>

            <p>
                Enter the private beta password that was emailed to you.
            </p>

            @using (Html.BeginForm("SubmitMagicWord", "Home", FormMethod.Post, new { @class = "form" }))
            {
                @Html.AntiForgeryToken()


                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">

                    <fieldset class="govuk-fieldset">

                        <div class="govuk-form-group">

                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="EnteredPassword">
                                        Password
                                    </label>
                                    @Html.ValidationMessageFor(x => x.EnteredPassword, string.Empty, new { @class = "govuk-error-message" })
                                    @Html.TextBoxFor(x => x.EnteredPassword, new { @class = "govuk-input", @type = "password" })
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button" type="submit">
                        Continue
                    </button>
                </div>
            }
        </div>
    </div>
}