@model HomePageViewModel
@using Defra.PTS.Web.Domain.ViewModels;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.UI.Extensions;

@{
    var pageTitle = "Taking your dog, cat or ferret from Great Britain to Northern Ireland";
    this.SetMetaTitle(pageTitle);
}

@if (Model.MagicWordEnabled)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                This is for testing use only
            </h1>

            <p>
                Enter the password that we emailed you to enter the move pets from Great Britain to Northern Ireland Scheme service.
            </p>

            @using (Html.BeginForm("SubmitMagicWord", "Home", FormMethod.Post, new { @class = "form" }))
            {
                @Html.AntiForgeryToken()

                <partial name="_ErrorSummary" />

                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">

                    <fieldset class="govuk-fieldset" aria-describedby="pet-age-hint">

                        <div class="govuk-form-group">

                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="password">
                                        Password
                                    </label>
                                    <p id="PasswordError" class="govuk-error-message" gds-validation-for="Password"></p>
                                    @Html.TextBoxFor(x => x.EnteredPassword, new { @class = "govuk-input" })
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button" type="submit">
                        Continue
                    </button>
                </div>
            }
        </div>
    </div>
}

else {
<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-8">
                <h1 class="gem-c-title__text govuk-heading-xl">
                    @pageTitle
                </h1>
            </div>

            <p class="gem-c-lead-paragraph">
                Apply for a lifelong pet travel document if you live in Great Britain (England, Wales and Scotland) and travel to Northern Ireland with your:
            </p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
                <li>
                    pet dog, cat or ferret
                </li>
                <li>
                    guide or assistance dog
                </li>
            </ul>
        </div>

        <div class="article-container group govuk-grid-column-two-thirds">
            <div class="content-block">
                <div class="inner">
                    <section class="intro">
                        <div class="get-started-intro">
                            <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

                                <a id="what"></a>
                                <h2 class="govuk-!-margin-top-0">
                                    About the lifelong pet travel document
                                </h2>
                                <p>
                                    It's free to apply for a lifelong pet travel document and you need one for each pet.
                                </p>
                                <p>
                                    You can use a lifelong pet travel document for repeat trips from Great Britain to Northern Ireland only.
                                </p>
                                <p>
                                    Lifelong pet travel documents last your pet's life, but your pet will need a new lifelong pet travel document if you transfer ownership.
                                </p>
                                <p>
                                    You no longer have to worm your pets, give them rabies injections or apply for an animal health certificate if you have a lifelong pet travel document.
                                </p>
                                <div class="govuk-inset-text">
                                    This service is also available
                                        <a href="/v5b/cofrestru-i-bleidleisio">in Welsh (Cymraeg)</a>.
                                </div>

                                <a id="assistancedog"></a>
                                <h2>
                                    Guide and assistance dogs
                                </h2>
                                <p>
                                    You can apply for a lifelong pet travel document for your guide or assistance dog.
                                </p>
                                <p>
                                    Great British travel companies usually recognise guide or assistance dogs trained by organisations that are members of either:
                                </p>
                                <ul>
                                    <li>
                                        <a href="https://assistancedogsinternational.org/resources/member-search/" target="_blank" rel="noopener noreferrer">
                                            Assistance Dogs International (opens in a new tab)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.igdf.org.uk/closest-dog-guide-providers/" target="_blank" rel="noopener noreferrer">
                                            International Guide Dog Federation (opens in a new tab)
                                        </a>
                                    </li>
                                </ul>
                                <p>
                                    You should check with your travel company if the organisation that trained your dog is not a member of either association.
                                </p>
                                <p>
                                    The Guide Dogs Association website has advice about
                                    <a href="https://www.guidedogs.org.uk/getting-support/information-and-advice/travelling-with-your-assistance-dog/" target="_blank" rel="noopener noreferrer">taking assistance dogs abroad (opens in a new tab)</a>.
                                </p>


                                <a id="check"></a>
                                <h2>
                                    Check if you need a lifelong pet travel document
                                </h2>
                                <p>
                                    The lifelong pet travel document is only for people living in Great Britain (England, Scotland and Wales) travelling to Northern Ireland with their dog, cat or ferret.
                                </p>
                                <p>
                                    You do not need a lifelong pet travel document if:
                                </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        you have a valid animal health certificate for your dog, cat or ferret
                                    </li>
                                    <li>
                                        you are travelling onwards from Northern Ireland to the EU (you will need an
                                            <a href="https://www.gov.uk/taking-your-pet-abroad/getting-an-animal-health-certificate" rel="noopener noreferrer">animal health certificate</a> or
                                            <a href="https://www.gov.uk/taking-your-pet-abroad/travelling-to-an-eu-country-or-northern-ireland" rel="noopener noreferrer">EU pet passport</a> instead)
                                    </li>
                                    <li>
                                        you are taking an animal that is not a dog, cat or ferret (check the rules for
                                        <a href="https://www.daera-ni.gov.uk/articles/travelling-pets#toc-16" rel="noopener noreferrer">bringing other animals to Northern Ireland</a>)
                                    </li>
                                </ul>

                                <a id="microchip"></a>
                                <h2>
                                    Microchipping
                                </h2>
                                <p>
                                    Your dog, cat or ferret must be microchipped and registered on a UK microchip database. The information on your pet's microchip database must be correct.
                                </p>
                                <p>
                                    We will ask for the microchip number and the date the microchip was fitted or last scanned.
                                </p>
                                <div class="govuk-inset-text">
                                    You should
                                    <a href="https://www.check-a-chip.co.uk/" target="_blank" rel="noopener noreferrer">
                                        check the microchip number (opens in a new tab)
                                    </a> to find the database and update your details before you apply.
                                </div>
                                <p>
                                    If you think the microchip might be faulty, ask your vet, dog warden or rescue centre if they can check. They might charge a fee.
                                </p>

                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                        <span class="govuk-warning-text__assistive">Warning</span>
                                        Checks may be carried out at your departure point.
                                    </strong>
                                </div>



                                <a id="when"></a>
                                <h2 class="govuk-heading-l">
                                    When to apply for a lifelong pet travel document
                                </h2>
                                <p>
                                    You should apply for a lifelong travel document early to avoid any delays.
                                </p>

                                <p>


                                    Use your existing Government Gateway and Defra username and password, or make a new account if you don't have one.
                                </p>

                                <a id="who"></a>
                                <h2>Who can apply</h2>
                                <p>You must be aged 16 or over.</p>
                                <p>You must also:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        be the registered owner (or be applying on the registered owners behalf)

                                    </li>
                                    <li>have a valid address in England, Scotland or Wales</li>
                                    <li>only be travelling from England, Scotland or Wales to Northern Ireland</li>
                                </ul>
                                <p>
                                    You cannot take more than 5 pets per person, Check the process for
                                    <a href="https://www.gov.uk/taking-your-pet-abroad/travelling-to-an-eu-country-or-northern-ireland" rel="noopener noreferrer">
                                        taking more than 5 pets to Northern Ireland
                                    </a>.
                                </p>

                                <a id="register"></a>
                                <h2>Apply now or sign in</h2>
                                <p>It usually takes about 10 minutes.</p>
                                <p id="get-started" class="get-started group">

                                    <a href="/Home/BeforeYouStart" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                                        Start now
                                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                                        </svg>
                                    </a>

                                </p>

                                <a id="help"></a>
                                <h2>Get help applying</h2>
                                <p>Call the Animal and Plant Health Agency on 03000 200 301, 8.30am to 5pm Monday to Friday (excluding bank holidays).</p>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="gem-c-contextual-sidebar">
                <div class="gem-c-related-navigation" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
                    <h2 id="related-nav-related_items-0a541986" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
                        Related content
                    </h2>
                    <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-0a541986" data-module="gem-toggle" data-gem-toggle-module-started="true">
                        <ul class="gem-c-related-navigation__link-list">

                            <li class="gem-c-related-navigation__link">
                                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
                                       href="https://www.daera-ni.gov.uk/articles/travelling-pets" rel="noopener noreferrer">
                                    Travelling with pets to Northern Ireland
                                </a>
                            </li>
                            <li class="gem-c-related-navigation__link">
                                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
                                       href="https://www.gov.uk/taking-your-pet-abroad" rel="noopener noreferrer">
                                    Taking your pet dog, cat or ferret abroad
                                </a>
                            </li>
                            <li class="gem-c-related-navigation__link">
                                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
                                       href="https://www.gov.uk/taking-your-pet-abroad/microchip" rel="noopener noreferrer">
                                    Microchip information
                                </a>
                            </li>
                            <li class="gem-c-related-navigation__link">
                                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
                                       href="https://www.gov.uk/taking-your-pet-abroad/getting-an-animal-health-certificate" rel="noopener noreferrer">
                                    Getting an animal health certificate
                                </a>
                            </li>
                            <li class="gem-c-related-navigation__link">
                                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
                                       href="https://www.gov.uk/bring-pet-to-great-britain/pet-passport" rel="noopener noreferrer">
                                    Pet passports
                                </a>
                            </li>

                        </ul>
                    </nav>



                </div>
            </div>
        </div>

        <div class="govuk-grid-column-two-thirds  govuk-!-margin-top-9">
            <div class="gem-c-contextual-footer">
                <div class="gem-c-related-navigation">
                    <nav role="navigation"
                         class="gem-c-related-navigation__nav-section"
                         aria-labelledby="related-nav-topics-751ba5e9"
                         data-module="gem-toggle"
                         data-gem-toggle-module-started="true">
                        <h2 id="related-nav-topics-751ba5e9"
                            class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer">
                            Explore the topic
                        </h2>

                        <ul class="gem-c-related-navigation__link-list">
                            <li class="gem-c-related-navigation__link">
                                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer"
                                   href="#">Travel abroad</a>
                            </li>
                            <li class="gem-c-related-navigation__link">
                                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer"
                                   href="#">Travelling to the UK</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</main>
}