@model PetMicrochipNotAvailableViewModel
@using Defra.PTS.Web.Domain.ViewModels.TravelDocument;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.UI.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<ISharedResource> sharedlocalizer
@inject IViewLocalizer Localizer

@{
    this.SetMetaTitle(Localizer[Model.FormTitle].Value);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            @Localizer[Model.FormTitle]
        </h1>

        <p class="govuk-body">@Localizer[@"Your pet dog, cat or ferret must be fitted with a microchip before you can apply for a lifelong pet travel document."]</p>

        <p class="govuk-body">
            <a class="govuk-link" href="https://www.gov.uk/get-your-dog-cat-microchipped" target="_blank" rel="noopener noreferrer">@Localizer[@"Check how to get your pet microchipped (opens in new tab)"]</a>.
        </p>

        <p class="govuk-body">
            <a class="govuk-link" href="https://www.gov.uk/done/taking-pet-from-great-britain-to-northern-ireland" target="_blank" rel="noopener noreferrer">What did you think of this service?</a>
            (takes 30 seconds)
        </p>

    </div>
</div>
