<div class="govuk-grid-row pet-declaration-print-logo">
    <div class="govuk-grid-column-two-thirds">
        <div class="gem-c-organisation-logo pet-logo-print">
            <div role="img" aria-label="UK Government coat of arms with the words &apos;UK Government&apos;" class="gem-c-organisation-logo__container gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color">
                <span class="gem-c-organisation-logo__name"></span>
            </div>        
        </div>
    </div>
</div>