@model Defra.PTS.Web.Application.DTOs.Services.CertificateIssuedDto;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.Application.Extensions;
@using Defra.PTS.Web.Application.Helpers;

<div class="govuk-grid-row pet-declaration-row pet-declaration-row-qrcode">
    <div class="govuk-grid-column-three-quarters">
        <div id="document-issued-card" class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Issued</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Pet travel document number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.DocumentReferenceNumber
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.DocumentIssueDate.ToUKDateString()
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <div class="pet-declaration-qrcode">
            <img src="@ApplicationHelper.BuildQRCodeUrl(Model.DocumentReferenceNumberAsQRCode)"
                 alt="Embedded QR Code for pet travel document" />
        </div>
    </div>
</div>
