<div class="govuk-grid-row pet-declaration-logos">
    <div class="govuk-grid-column-one-quarter">
        <div class="gem-c-organisation-logo brand--department-for-environment-food-rural-affairs pet-logo-print">
            <div class="gem-c-organisation-logo__container gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color">
                <span class="gem-c-organisation-logo__name">Department for Environment<br>Food &amp; Rural Affairs</span>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <div class="gem-c-organisation-logo brand--department-for-environment-food-rural-affairs pet-logo-print">
            <div class="gem-c-organisation-logo__container gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color">
                <span class="gem-c-organisation-logo__name">Animal &amp; Plant<br />Health Agency</span>
            </div>
        </div>
    </div>
</div>

