<div class="govuk-grid-row govuk-!-display-none-print">

    <div class="govuk-grid-column-three-quarters">
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-top-4">

        <ul class="pet-print-download-nav">
            <li>
                <span class="hod-icons-printer"></span>
                <p class="govuk-body">
                    <a class="govuk-link" aria-label="Print this page" href="javascript:()" id="print-this-page" onclick="window.print()">
                        Print this page
                    </a>
                </p>
            </li>
        </ul>

    </div>

</div>