@using Defra.PTS.Web.UI.Constants;

@{
    var backWording = "";
    if (Thread.CurrentThread.CurrentCulture.EnglishName != "Welsh")
    {
        backWording = "back";
    }
    else
    {
        backWording = "Yn ôl";
    }
}

@{
    string backUrl = (ViewData[WebAppConstants.ViewKeys.BackUrl] ?? string.Empty) as string;

    if (!string.IsNullOrWhiteSpace(backUrl))
    {
        <a href="@backUrl" class="govuk-back-link pet-travel-back-link">@backWording</a>
        //<a href="@AppConstants.HistoryBack" class="govuk-back-link pet-travel-back-link">Back</a>
    }
}
