@using Defra.PTS.Web.UI.Constants;

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Beta
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="@WebAppConstants.ExternalLinks.BetaServiceFeedback" target="_blank" rel="noopener noreferrer">feedback (opens in a new tab)</a> will help us to improve it.
        </span>
    </p>
</div>
