@model string[]
@if (!ViewData.ModelState.IsValid)
{
    var errorsFlattened = ViewData.ModelState
        .Where(v => v.Value.Errors.Any())
        .SelectMany(v => v.Value.Errors.Select(x => new
        {
            field = v.Key,
            error = x.ErrorMessage,
            order = Model != null && Model.Any(field => field == v.Key) ? Array.IndexOf(Model, v.Key) : -1
        }));
    string title = Thread.CurrentThread.CurrentCulture.EnglishName != "Welsh" ? "There is a problem" : "Mae yna broblem";

    errorsFlattened = errorsFlattened.OrderBy(x => x.order);

    <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
            <h2 class="govuk-error-summary__title">
                @title
            </h2>
            <div class="govuk-error-summary__body">
                <ul id="error-list" class="govuk-list govuk-error-summary__list">
                    @foreach (var error in errorsFlattened)
                    {
                        <li>
                            <a id = "@error.field-error" href="#@error.field">@error.error</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}

