@if (!ViewData.ModelState.IsValid)
{
    var errorsFlattened = ViewData.ModelState
        .Where(v => v.Value.Errors.Any())
        .SelectMany(v => v.Value.Errors.Select(x => new
        {
            field = v.Key,
            error = x.ErrorMessage
        }));

    string title = Thread.CurrentThread.CurrentCulture.EnglishName != "Welsh" ? "There is a problem" : "Mae yna broblem";

    <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
            <h2 class="govuk-error-summary__title">
                @title
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    @foreach (var error in errorsFlattened)
                    {
                        // Generate a unique ID for each error field
                        var id = $"{error.field}"; 

                        <li>
                            <a href="#@id" >@error.error</a>
                        </li>
                        <div id="@id"></div> 
                    }
                </ul>
            </div>
        </div>
    </div>
}