@using Defra.PTS.Web.Domain.ViewModels
@model FieldsetLegendViewModel

<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
        @Model.Label
    </h1>
</legend>