@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.Domain.Models;
@using Defra.PTS.Web.UI.Extensions;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var isAuthenticated = User.Identity.IsAuthenticated;
    var separator = "|";
    var conditionalSeparator = isAuthenticated ? "|" : string.Empty;
    var fullName = Context.Session.GetString("FullName");

    var locale = HttpContextAccessor.HttpContext.Request.Cookies["locale"] ?? "en";
    var translations = new Dictionary<string, string>
    {
        { "en-SignOut", "Sign out" },
        { "cy-SignOut", "Allgofnodi" },
        // { "en-TravelDocuments", "Lifelong pet travel documents" },
        // { "cy-TravelDocuments", "Dogfennau teithio anifeiliaid anwes gydol oes" },
        // { "en-ManageAccount", "Manage Account" },
        // { "cy-ManageAccount", "Rheoli Cyfrif" }
    };

    var signOutText = translations[$"{locale}-SignOut"];
    //var travelDocumentsText = translations[$"{locale}-TravelDocuments"];
    //var manageAccountText = translations[$"{locale}-ManageAccount"];
}

<div class="login-nav govuk-!-display-none-print">
    <ul class="login-nav__list">

        @if (isAuthenticated)
        {
            var user = User.ToUserInfo();

            <li class="login-nav__list-item">
                @fullName @separator
            </li>
        }

        <li class="login-nav__list-item">
            <a href="@WebAppConstants.Pages.TravelDocument.Index" class="govuk-link login-nav__link govuk-link--no-visited-state profile">
                Lifelong pet travel documents
            </a>@conditionalSeparator
        </li>


        @if (isAuthenticated)
        {
            <li class="login-nav__list-item">
                <a href="@WebAppConstants.Pages.User.ManageAccount" class="govuk-link login-nav__link govuk-link--no-visited-state profile">
                    Manage Account
                </a>@separator
            </li>


            <li class="login-nav__list-item">
                <a href="@WebAppConstants.Pages.User.SignOut" class="govuk-link login-nav__link govuk-link--no-visited-state">
                    @signOutText
                </a>
            </li>
        }

    </ul>
</div>
