@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.Domain.Models;
@using Defra.PTS.Web.UI.Extensions;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<ISharedResource> sharedlocalizer
@{
    var isAuthenticated = User.Identity.IsAuthenticated;
    var separator = "|";
    var conditionalSeparator = isAuthenticated ? "|" : string.Empty;
    var fullName = Context.Session.GetString("FullName");    
}

<div class="login-nav govuk-!-display-none-print">
    <ul class="login-nav__list">

        @if (isAuthenticated)
        {
            <li class="login-nav__list-item">
                @fullName @separator
            </li>
        }

       

        @if (isAuthenticated)
        {
            <li class="login-nav__list-item">
                <a href="@WebAppConstants.Pages.User.ManageAccount" class="govuk-link login-nav__link govuk-link--no-visited-state profile">
                    @sharedlocalizer["Manage account"]
                </a>@separator
            </li>

            <li class="login-nav__list-item">
                <a href="@WebAppConstants.Pages.User.SignOut" class="govuk-link login-nav__link govuk-link--no-visited-state">
                    @sharedlocalizer["Sign out"]
                </a>
            </li>

        }

    </ul>
</div>
