@using Defra.PTS.Web.UI.Constants;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<ISharedResource> sharedlocalizer

@{
    bool? hideNeedHelp = (ViewData[WebAppConstants.ViewKeys.HideNeedHelp] ?? false) as bool?;
    if (!hideNeedHelp.GetValueOrDefault())
    {
        <div class="govuk-width-container govuk-!-display-none-print">
            <div class="govuk-grid-row rtwr-no-print" role="region" aria-label="Need help using this service?">
                <div class="govuk-grid-column-full">
                    <div class="rtwr-help-bar">
                        <p class="govuk-body">
                            <strong class="rtwr-help-bar__question">@sharedlocalizer["Need help using this service? "]</strong><a class="govuk-link--inverse" href="@WebAppConstants.Pages.Content.Help">@sharedlocalizer["Get help"]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
}

