.input-validation-error {
    border-color: #d4351c;
}

.autocomplete__dropdown-arrow-down {
    z-index: 10 !important;
    pointer-events: none;
}

govuk-tag {
    white-space: nowrap;
    max-width: 200px;
}

html, body {
    overflow-x: hidden;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.scroll-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    margin-bottom: 1rem;
}

.govuk-table {
    min-width: 640px; /* Minimum width to force horizontal scroll */
    margin-bottom: 0;
}

/* Modify the pet-long-text class to handle text overflow */
.pet-long-text {
    max-width: 150px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Hide scrollbar for desktop */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}