.input-validation-error {
    border-color: #d4351c;
}

.autocomplete__dropdown-arrow-down {
    z-index: 10 !important;
    pointer-events: none;
}

govuk-tag {
    white-space: nowrap;
    max-width: 200px;
}

html, body {
    overflow-x: hidden;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}