@using Defra.PTS.Web.UI.Extensions;

@{
    var pageTitle = "Accessibility statement for taking a dog, cat or ferret from Great Britain to Northern Ireland";
    this.SetMetaTitle(pageTitle);
}

<div class="govuk-width-container">
    <div class="govuk-main-wrapper pet-main" id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    @pageTitle
                </h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    This accessibility statement applies to the <a href="http://take-pet-from-gb-to-ni.service.gov.uk/" rel="noreferrer noopener" target="_blank">'Apply for a Lifelong Pet Travel Document' service (opens in a new tab)</a>.
                </p>

                <p class="govuk-body">
                    This website is run by the Department for Environment, Food and Rural Affairs. We want as many people as possible to be able to use this website. For example, that means you should be able to:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>change colours, contrast levels and fonts using browser or device settings</li>
                    <li>
                        zoom in up to 400% without the text spilling off the screen
                    </li>
                    <li>
                        navigate most of the website using a keyboard or speech recognition software
                    </li>
                    <li>
                        listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
                    </li>
                </ul>
                <p class="govuk-body">
                    We’ve also made the website text as simple as possible to understand.
                </p>
                <p class="govuk-body">
                    <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">AbilityNet (opens in new tab)</a> has advice on making your device easier to use if you have a disability.
                </p>

                <h2 class="govuk-heading-l">How accessible this website is</h2>
                <p class="govuk-body">
                    All users with access needs should be able to complete their application.
                </p>

                <h2 class="govuk-heading-l">
                    Digital support
                </h2>
                <p class="govuk-body">
                    If you’d like support to apply for a lifelong pet travel document, phone 03000 200 301. The line is open from 8.30am to 5pm, Monday to Friday (excluding bank holidays).
                </p>
                <p class="govuk-body">
                    <a href="https://www.gov.uk/call-charges" rel="noreferrer noopener" target="_blank">Find out about call charges (open in new tab)</a>.
                </p>

                <h2 class="govuk-heading-l">
                    Contact us
                </h2>
                <p class="govuk-body">
                    Contact us:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        if you find any problems not listed on this page or think we’re not meeting accessibility requirements
                    </li>
                    <li>
                        if you need information on this website in a different format, like accessible PDF, large print, easy read, audio recording or braille
                    </li>
                </ul>

                <p class="govuk-body">
                    Contact us by:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>Email: NIPetTravel@apha.gov.uk </li>
                    <li>
                        Phone: 03000 200 301 – from 8.30am to 5pm, Monday to Friday (excluding bank holidays)
                    </li>
                </ul>

                <p>We’ll consider your request and get back to you within 5 days.</p>

                <h2 class="govuk-heading-l">
                    Enforcement procedure
                </h2>
                <p class="govuk-body">
                    The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" target="_blank" rel="noopener">contact the Equality Advisory and Support Service (EASS) (opens in a new tab)</a>.

                </p><h1 class="govuk-heading-l">
                    Technical information about this website’s accessibility
                </h1>

                <p>The Department for Environment, Food and Rural Affairs is committed to making its website accessible, in accordance with the <a href="https://www.legislation.gov.uk/uksi/2018/952/contents" rel="noreferrer noopener" target="_blank">Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (opens in a new tab)</a>.</p>

                <h2 class="govuk-heading-m">
                    Compliance status
                </h2>

                <p>The website has been tested against and is fully compliant with the <a href="https://www.w3.org/TR/WCAG22/" rel="noreferrer noopener" target="_blank">Web Content Accessibility Guidelines (WCAG) 2.2 (w3.org) (opens in a new tab)</a>.</p>

                <h2 class="govuk-heading-m">
                    Usability
                </h2>

                <p>Although the following do not fail to meet WCAG 2.2, they may prove challenging for users of the service.</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>Some error links do not function as expected because they do not take the user to the place where they can correct the error.</li>
                    <li>Warning text does not follow <a href="https://design-system.service.gov.uk/components/warning-text/" rel="noreferrer noopener" target="_blank">Warning text – GOV.UK Design System (design-system.service.gov.uk) (opens in a new tab)</a> recommendations.</li>
                    <li>The ‘Day is not valid’ attribute could be confusing when read out as someone is entering the date. It is also small and cannot be magnified.</li>
                    <li>Error handling does not follow the <a href="https://design-system.service.gov.uk/components/error-message/" rel="noreferrer noopener" target="_blank">Error message – GOV.UK Design System (design-system.service.gov.uk) (opens in a new tab)</a> recommendations.</li>
                    <li>Form validation on ‘Is your pet microchipped?’ can be problematic for screen reader users.</li>
                    <li>The positioning of the fieldset group for ‘Are your details correct?’ does not follow <a href="https://design-system.service.gov.uk/components/fieldset/" rel="noreferrer noopener" target="_blank">Fieldset – GOV.UK Design System (design-system.service.gov.uk) (opens in a new tab) </a>recommendations.</li>
                    <li>The Open Sans font used could be problematic for users with low vision.</li>
                    <li>Additional visual cues on hover might be beneficial.</li>
                    <li>The name of the organisation is not included within the page title.</li>
                    <li>On the Check your answers page, users are not returned to a specific location within the journey.</li>
                    <li>Some labels could be confusing for some screen reader users.</li>
                    <li>The purpose of the ‘Lifelong pet travel documents’ table is not clear.</li>
                    <li>The colour of hint text against its adjacent background may be difficult for users to decipher – for example, on ‘What is your postcode?’ </li>
                    <li>The positioning of a link in the declaration may be problematic for some sighted users.</li>
                    <li>The standard text input keypad may be time-consuming for mobile users.</li>
                </ul>

                <p>We plan to review these by <strong>March 2025</strong>.</p>

                <h2 class="govuk-heading-l">
                    Preparation of this accessibility statement
                </h2>

                <p class="govuk-body">
                    This statement was prepared on 26 September 2024. It was last reviewed on 26 September 2024.
                </p>
                <p class="govuk-body">
                    This website was last tested on 5 April 2024 against the WCAG 2.2 AA standard.
                </p>
                <p class="govuk-body">
                    The test was carried out by Digital Accessibility Centre. The most viewed pages were tested using automated testing tools by our website team. A further audit of the website was carried out to the WCAG 2.2 AA standard.
                </p>
                <p>The non-compliant Level AAA elements will be included in ongoing testing and fixing. </p>
            </div>
        </div>

    </div>
</div>