@using Defra.PTS.Web.UI.Extensions;

@{
    var pageTitle = "Accessibility statement for taking a dog, cat or ferret from Great Britain to Northern Ireland";
    this.SetMetaTitle(pageTitle);
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper pet-main" id="main-content">

        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">
                        Accessibility statement for taking a dog, cat or ferret from Great Britain to Northern Ireland
                    </h1>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">
                        This accessibility statement applies to the <a href="http://take-pet-from-gb-to-ni.service.gov.uk/" rel="noreferrer noopener" target="_blank">'Apply for a Lifelong Pet Travel Document' service (opens in a new tab)</a>.
                    </p>

                    <p class="govuk-body">
                        This website is run by the Department for Environment, Food and Rural Affairs. We want as many people as possible to be able to use this website. For example, that means you should be able to:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>change colours, contrast levels and fonts using browser or device settings</li>
                        <li>
                            zoom in up to 400% without the text spilling off the screen
                        </li>
                        <li>
                            navigate most of the website using a keyboard or speech recognition software
                        </li>
                        <li>
                            listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
                        </li>
                    </ul>
                    <p class="govuk-body">
                        We’ve also made the website text as simple as possible to understand.
                    </p>
                    <p class="govuk-body">
                        <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">AbilityNet (opens in new tab)</a> has advice on making your device easier to use if you have a disability.
                    </p>

                    <h2 class="govuk-heading-l">How accessible this website is</h2>
                    <p class="govuk-body">
                        We know some parts of this website are not fully accessible:
                    </p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            the autocomplete feature has no instructions for mobile/touch device users about how they interact with the new content
                        </li>
                        <li>
                            the autocomplete feature list of results cannot be initially accessed using standard swipe gesture as the explore by touch method is required
                        </li>
                        <li>
                            the PDF is untagged so the document cannot be read using screen reader software
                        </li>
                        <li>
                            the PDF has a QR code without appropriate informative text to describe the image to visually impaired users
                        </li>
                        <li>
                            the language and the title of the PDF has not been set, which may affect how text is rendered or how the pronunciation of some words are relayed
                        </li>
                        <li>
                            pinch-to-zoom will be disabled on some devices, preventing the user from zooming in past the default view
                        </li>
                    </ul>

                    <h2 class="govuk-heading-l">
                        Feedback and contact information
                    </h2>
                    <p class="govuk-body">
                        If you’d like support to apply for a lifelong pet travel document, phone 03000 200 301. The line is open from 8.30am to 5pm, Monday to Friday (excluding bank holidays).
                    </p><p class="govuk-body">
                        <a href="https://www.gov.uk/call-charges" rel="noreferrer noopener" target="_blank">Find out about call charges (open in new tab)</a>.
                    </p>

                    <p class="govuk-body">
                        Contact us:
                    </p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            if you find any problems not listed on this page or think we’re not meeting accessibility requirements
                        </li>
                        <li>
                            if you need information on this website in a different format, like accessible PDF, large print, easy read, audio recording or braille
                        </li>
                    </ul>

                    <p class="govuk-body">
                        Contact us by:
                    </p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>Email: <a href="mailto:NIPetTravel@apha.gov.uk">NIPetTravel@apha.gov.uk</a> </li>
                        <li>
                            Phone: 03000 200 301 – from 8.30am to 5pm, Monday to Friday (excluding bank holidays)
                        </li>
                    </ul>

                    <p>We’ll consider your request and get back to you within 5 days.</p>

                    <h2 class="govuk-heading-l">
                        Enforcement procedure
                    </h2>
                    <p class="govuk-body">
                        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" rel="noreferrer noopener" target="_blank">contact the Equality Advisory and Support Service (EASS) (opens in a new tab)</a>.

                    </p><h1 class="govuk-heading-l">
                        Technical information about this website’s accessibility
                    </h1>

                    <p>The Department for Environment, Food and Rural Affairs is committed to making its website accessible, in accordance with the <a href="https://www.legislation.gov.uk/uksi/2018/952/contents" target="_blank">Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (opens in a new tab)</a>.</p>

                    <h2 class="govuk-heading-m">
                        Compliance status
                    </h2>

                    <p>The website is partially compliant with the <a href="https://www.w3.org/TR/WCAG22/" rel="noreferrer noopener" target="_blank">Web Content Accessibility Guidelines (WCAG) 2.2 (w3.org) (opens in a new tab)</a> AA standard, due to the non-compliances listed below.</p>

                    <h2 class="govuk-heading-m">
                        Non-accessible content
                    </h2>

                    <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>

                    <h3 h2="" class="govuk-heading-s">
                        Non-compliance with the accessibility regulations
                    </h3>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>The autocomplete feature has no instructions for mobile/touch device users about how they interact with the new content. This fails WCAG 2.2 success criteria 1.3.1 Info and Relationships (Level A). We have fixed this by adding instructions and will retest this in March 2025.</li>
                        <li>The autocomplete feature list of results cannot be initially accessed using standard swipe gesture as the explore by touch method is required. This fails WCAG 2.2 success criteria 1.3.1 Info and Relationships (Level A). We are investigating how to fix this, as this is a known issue with the design component. We intend to retest this in March 2025.</li>
                        <li>The language and the title of the PDF has not been set, which may affect how text is rendered or how the pronunciation of some words are relayed. This fails WCAG 2.2 success criteria 1.3.1 Info and Relationships (Level A), 2.4.2 Page Titled (Level A) and 3.1.1 Language of Page (Level A). We have fixed this by setting a meaningful title and configuring the language, and will retest this in March 2025.</li>
                        <li>Pinch-to-zoom will be disabled on some devices, preventing the user from zooming in past the default view. This fails WCAG 2.2 success criteria 1.4.4 Resize text (Level AA). We have resolved this by removing zoom limits, and will retest this in March 2025.</li>
                    </ul>

                    <h3 h2="" class="govuk-heading-s">
                        Disproportionate burden
                    </h3>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>The PDF is untagged so the document cannot be read using screen reader software. This fails WCAG 2.2 success criteria 1.3.1 Info and Relationships (Level A) and 1.3.2 Meaningful Sequence (Level A). Fixing this requires multiple system upgrades, which we cannot do due to the infrastructure and upgrades required. We will review this again by June 2025.</li>
                        <li>The PDF has a QR code without appropriate informative text to describe the image to visually impaired users. This fails WCAG 2.2 success criteria 1.1.1 Non-text Content (Level A) and 1.3.1 Info and Relationships (Level A). Fixing this requires multiple system upgrades, which we cannot do due to the infrastructure and upgrades required. We will review this again by June 2025.</li>
                    </ul>

                    <h3 h2="" class="govuk-heading-s">
                        Content that’s not within the scope of the accessibility regulations
                    </h3>

                    <p>We have no content outside the scope of the regulations.</p>

                    <h2 class="govuk-heading-m">
                        Usability
                    </h2>

                    <p>Although the following do not fail to meet WCAG 2.2, they may prove challenging for users of the service.</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>The positioning of the fieldset group for ‘Are your details correct?’ does not follow recommendations.</li>
                        <li>The purpose of the ‘Lifelong pet travel documents’ table is not clear.</li>
                        <li>The standard text input keypad may be time-consuming for mobile users.</li>
                        <li>Dragon users found referencing the visible label problematic.</li>
                    </ul>

                    <p>We plan to review these by June 2025.</p>

                    <h2 class="govuk-heading-l">
                        What we’re doing to improve accessibility
                    </h2>

                    <p class="govuk-body">We have fixed the accessibility issues we can and DAC will retest them in March 2025.</p>

                    <p class="govuk-body">We expect these issues to be resolved by June 2025.</p>

                    <p class="govuk-body">We will review the disproportionate burden issues by June 2025.</p>

                    <h2 class="govuk-heading-l">
                        Preparation of this accessibility statement
                    </h2>

                    <p class="govuk-body">
                        This statement was prepared on 6 February 2025. It was last reviewed on 18 February 2025.
                    </p>
                    <p class="govuk-body">
                        This website was last tested on 14 January 2025 against the WCAG 2.2 AA standard.
                    </p>
                    <p class="govuk-body">
                        The test was carried out by Digital Accessibility Centre. The most viewed pages were tested using automated testing tools by our website team.
                    </p>
                    <p>We are retesting the fixed issues in March 2025.</p>
                </div>
            </div>
        </div>
    </main>
</div>