@using Defra.PTS.Web.UI.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<ISharedResource> sharedlocalizer

@{
    var pageTitle = Localizer["Get help applying"].Value;
    this.SetMetaTitle(pageTitle);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            @pageTitle
        </h1>

        <p>@Localizer["Call the Animal and Plant Health Agency on 03000 200 301, 8.30am to 5pm Monday to Friday (excluding bank holidays)."]</p>

    </div>
</div>

